
      body {
        font-family: 'Khula', sans-serif;
        background-color: #363f45;

      }
      .logo {
        width: 80%;
        -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 10s; /* Firefox < 16 */
          -ms-animation: fadein 10s; /* Internet Explorer */
           -o-animation: fadein 10s; /* Opera < 12.1 */
              animation: fadein 10s;
        /*-webkit-animation-delay: 13s; /* Safari 4.0 - 8.0
        animation-delay: 13s;*/
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      .jumbotron {
        margin: 0;
        border-radius: 0;
      }
      .row {
        margin-top: 60px;
        margin-bottom: 60px;
      }
      /* fade in animation */
      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Firefox < 16 */
      @-moz-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Internet Explorer */
      @-ms-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Opera < 12.1 */
      @-o-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }
            /* full screen images*/
      .fullscreen-bg {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow: hidden;
          z-index: -100;
        }

        .fullscreen-bg__video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        @media (min-aspect-ratio: 16/9) {
          .fullscreen-bg__video {
            height: 300%;
            top: -100%;
          }
        }

        @media (max-aspect-ratio: 16/9) {
          .fullscreen-bg__video {
            width: 300%;
            left: -100%;
          }
        }

        .logo-container {
          height: 100vh;
        }
        @media (max-width: 767px) {
          .fullscreen-bg__video {
            position: relative;
            width: 100%;
            left: 0px;
          }
          .logo-container {
            height: 100%;
            background-color: #59C8E2;
          }
          .logo {
            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
             -moz-animation: fadein 1s; /* Firefox < 16 */
              -ms-animation: fadein 1s; /* Internet Explorer */
               -o-animation: fadein 1s; /* Opera < 12.1 */
                  animation: fadein 1s;
          }
        }
        .fixed-action-btn a:hover {
          text-decoration: none;
        }
        .jumbotron h2 {
          color: #FBB31B;
        }
        .jumbotron h4 {
          color: #59C8E2;
        }
        .jumbotron {
          background: #363f45;
          background: -moz-linear-gradient(top, #363f45 0%, #2c3038 80%);
          background: -webkit-linear-gradient(top, #363f45 0%, #2c3038 80%);
          background: linear-gradient(to bottom, #363f45 0%, #2c3038 80%);
          color: #fff;
        }
        .btn-floating {
          background-color: #333;
          border: 2px #fff solid;
        }
        .mailto {
          border-color: #FBB31B;
        }
        .mailto:hover, .mailto:focus {
          border-color: #FBB31B;
          box-shadow: 0 0 15px 0 rgba(251, 179, 27,0.84), 0 0px 15px 0 rgba(251, 179, 27,0.82), 0 0px 1px 0 rgba(251, 179, 27,0.9);
        }
        .mailto .material-icons {
          color: #FBB31B;
          width: 24px;
          line-height: 55px !important;
        }
        .gmail {
          border-color: #fff;
        }
        .gmail:hover, .gmail:focus {
          box-shadow: 0 0 15px 0 rgba(255, 255, 255,0.84), 0 0px 5px 0 rgba(255, 255, 255,0.82), 0 0px 1px 0 rgba(255, 255, 255,0.9);
        }
        .yahoo {
          border-color: #9243bc;
        }
        .yahoo:hover, .yahoo:focus {
          box-shadow: 0 0 15px 0 rgba(146, 67, 188,0.84), 0 0px 5px 0 rgba(146, 67, 188,0.82), 0 0px 1px 0 rgba(146, 67, 188,0.9);
        }
        .copy-email {
          border-color: #59C8E2;
        }
        .copy-email:hover, .copy-email:focus {
          box-shadow: 0 0 15px 0 rgba(89, 200, 226,0.84), 0 0px 5px 0 rgba(89, 200, 226,0.82), 0 0px 1px 0 rgba(89, 200, 226,0.9);
        }
        .copy-email .material-icons {
          color: #59C8E2;
          width: 24px;
          line-height: 38px !important;
          font-size: 20px;
        }
        .btn-floating:hover, .btn-floating:focus {
          background-color: #111;
        }
        .fade-black{
          width: 100%;
          height: 800px;
          background: url('media/MG_9921.jpg') bottom center no-repeat;
          background-size: cover;
          position: relative;
        }
        .fade-black:before {
          height: 800px;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(90deg, transparent, #111);
        }
