<footer class="site-footer">
  <ul class="social-media-list">
    <li>
      <a href="https://instagram.com/titanic.design" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/titanic-design/" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
       </a>
     </li>
    <li>
      <a href="https://twitter.com/titanic_design" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
       </a>
    </li>
    {% comment %}
    <li>
      <a href="https://www.youtube.com" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
        </svg>
       </a>
     </li>
     {% endcomment %}
  </ul>
  <a class="email" href="mailto:{{ stie.email }}">{{ stie.email }}</a>
</footer>
