---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.hero {
  background-color: $brand-color;
  padding: 40px 0;

  .wrapper {
    text-align: center;
  }

  .logo {
    max-width: 350px;
  }

  .tagline {
    color: white;
  }
}

.home {
  .products {
    padding: 40px 0;

    .product-list {
      list-style-type: none;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: auto auto;
    }

    .icon {
      width: 50px;
    }
  }

  .section1 {
    padding: 40px 0;

  }

  .section2 {
    padding: 40px 0;

  }

  .section3 {
    padding: 40px 0;

  }
}

.about {
  .opener-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    .opener {
      text-align: center;
      max-width: 800px;
      font-size: 20px;
    }
  }

  .team-section {
    padding: 40px 0;
    background-color: #f6f9fc;

    .wrapper {
      max-width: 900px;
    }

    .team {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      .name {
        margin: 0;
      }

      .member {
        text-align: center;
      }

      .image {
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}

.blog {
  text-align: center;

  .post-list {
    padding: 40px 0;
  }
}
