---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.hero {
  background-color: $brand-color;
  padding: 40px 0;

  .logo {
    max-width: 350px;
  }

  .tagline {
    color: white;
  }
}

.home {
  .products {
    padding: 40px 0;

    .product-list {
      list-style-type: none;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: auto auto;
    }

    .icon {
      width: 50px;
    }
  }
}

.about {
  .opener-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    .opener {
      text-align: center;
      max-width: 800px;
      font-size: 20px;
    }
  }
}
