---
layout: default
---
<div class="blog">
  <div class="hero">
    <div class="wrapper">
      <img src="/assets/img/logo.png" alt="Titanic Design" class="logo"/>
      <h1 class="tagline">{{ page.title }}</h1>
      {% comment %}
      <a href="/#contact" class="button">Subscribe</a>
      {% endcomment %}
    </div>
  </div>

  <div class="wrapper">
    <p class="post-list">comming soon</p>
    {% comment %}
    {%- if site.posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {% endcomment %}
  </div>
</div>
