---
layout: default
---

<div class="home">
  <div class="hero">
    <div class="wrapper">
      <img src="/assets/img/logo.png" alt="Titanic Design" class="logo"/>
      <h1 class="tagline">{{ page.tagline }}</h1>
      <a href="/#contact" class="button">Contact</a>
    </div>
  </div>
  <div class="products">
    <div class="wrapper">
      <ul class="product-list">
        <li>
          <figure class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/></svg>
          </figure>
          <h3>{{ page.product1.title }}</h3>
          <p>{{ page.product1.content }}</p>
        </li>
        <li>
          <figure class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M475.115 163.781L336 252.309v-68.28c0-18.916-20.931-30.399-36.885-20.248L160 252.309V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h464c13.255 0 24-10.745 24-24V184.029c0-18.917-20.931-30.399-36.885-20.248z"/></svg>
          </figure>
          <h3>{{ page.product2.title }}</h3>
          <p>{{ page.product2.content }}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section1">
    <div class="wrapper">
      <h2>{{ page.section1.title }}</h2>
      <p>{{ page.section1.content }}</p>
    </div>
  </div>
  <div class="section2">
    <div class="wrapper">
      <h2>{{ page.section2.title }}</h2>
      <p>{{ page.section2.content }}</p>
    </div>
  </div>
  <div class="section3">
    <div class="wrapper">
      <h2>{{ page.section3.title }}</h2>
      <p>{{ page.section3.content }}</p>
    </div>
  </div>

  <div class="section3">
    <div class="wrapper">
      <form onsubmit="return sendEmail()">
        <h4 id="contact">Contact</h4>
        <div>
          <label>Email</label>
          <input id="email" type="email" required/>
        </div>
        <div>
          <label>Name</label>
          <input id="name" type="text" required/>
        </div>
        <div>
          <label>Description</label>
          <textarea id="description" rows="11" cols="50" required></textarea>
        </div>
        <input type="submit" class="button" value="Contact" />
      </form>
    </div>
  </div>
  <script type="text/javascript">
    function sendNotification(player_id) {
      var data = {
        app_id: "bf177da8-b857-43cc-a8db-4c6038836ac4",
        "include_player_ids": [player_id],
        "email_subject": "New contact from https://titanic.design!",
        "email_body": "<html><body><p>{{ full_name }}</p><p>{{ description }}</p></body></html>"
      };

      var headers = {
        "Content-Type": "application/json; charset=utf-8",
      };

      var options = {
        host: "onesignal.com",
        port: 443,
        path: "/api/v1/notifications",
        method: "POST",
        headers: headers
      };

      var https = require('https');
      var req = https.request(options, function(res) {
        res.on('data', function(data) {
          console.log("Response:");
          console.log(JSON.parse(data));
        });
      });

      req.on('error', function(e) {
        console.log("ERROR:");
        console.log(e);
      });

      req.write(JSON.stringify(data));
      req.end();
    };

    function sendEmail() {
      OneSignal.push(function() {
        var email = document.getElementById("email").value;
        var name = document.getElementById("name").value;
        var description = document.getElementById("description").value;
        OneSignal.setEmail(email);
        OneSignal.setEmail('contact' + email + '@titanic.design').then(function() {
          OneSignal.sendTags({full_name: name, description: description}).then(function() {
             OneSignal.getUserId(sendNotification);
          });
        });
      });
      return false;
    }
  </script>
</div>
