---
layout: default
---

<div id="legacy">
<div class="home">
  <div>
    <div class="fullscreen-bg">
      <video autoplay muted name="Video Name" src="assets/media/IMG_2784.mp4" class="fullscreen-bg__video"></video>
    </div>
    <div class="logo-container">
      <img class="logo" src="assets/media/logo.png" alt="Titanic Design" style="margin: auto;">
    </div>
  </div>
  <div class="jumbotron text-left">
    <div class="wrapper">
      <div style="min-height:250px">
        <div class="dimensions">
          <div class="cube">
            <div class="side front small"></div>
            <div class="side back small"></div>
            <div class="side right small"></div>
            <div class="side left small"></div>
            <div class="side top"></div>
            <div class="side bottom"></div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <h2>Titanic Size (1m x 1m x 450mm)</h2>
        Professional or high-end consumer we offer the capability to produce high quality, accurate, titanic single piece parts up to 1 meter x 1 meter x 450 mm that cannot be made easily with other equipment. Accelerate your product development and innovation with huge single piece functional components from our unrivaled build volume.
      </div>
    </div>
  </div>
  <div class="fade-black jumbotron">
    <div class="wrapper">
      <h4>Technical Knowledge</h4>
      Design and order with confidence with our knowledgeable staff capable of quickly providing mechanical engineering assistance throughout the process with CAD and DFM guidance to ensure your prototypes or parts are processed quickly and flawlessly. Satisfaction guaranteed.
    </div>
  </div>
</div>
